h1 {
    color: red;
    font-size: 100px;
}

img:hover{
    background-color: gold;
}

.bacon{
    height: 200px;
    background-color: green;
}

.broccoli{
    height: 200px;
    background-color: red;
}

.circular{
    border-radius: 100%;
}