h1 {
    color: red;
}
h2 {
    color: purple;
}
ul {
    list-style: square;
}
.pink {
    color: violet;
}

main {
    width: 400px;
    font-family: 'Enriqueta', serif;
}
span {text-decoration: underline;}